##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Mapper"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/dao"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}dao;
import org.apache.ibatis.annotations.Param;
import $!{tableInfo.savePackageName}.bean.$!{tableInfo.name};
import java.util.List;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表数据库访问层
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

    public List<$!{tableInfo.name}> find();
    
    public List<$!{tableInfo.name}> findByCondtion($!{tableInfo.name} entity);
    
    public $!{tableInfo.name} getByCondtion($!{tableInfo.name} entity);

    public $!{tableInfo.name} getById(@Param("id") String id, @Param("orgId") String orgId);

    public void insert($!{tableInfo.name} entity);
    
    public void insertBatch(List<$!{tableInfo.name}> entitys);
    
    public void update($!{tableInfo.name} entity);

    public $!{tableInfo.name} deleteById(@Param("id") String id, @Param("orgId") String orgId);
}