##引入宏定义
$!define

##使用宏定义设置回调（保存位置与文件后缀）
#save("/bean", ".java")

##使用宏定义设置包后缀
#setPackageSuffix("bean")

##使用全局变量实现默认包导入
$!autoImport
import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
import com.qftx.base.bean.BaseObject;
import lombok.Getter;
import lombok.Setter;

##使用宏定义实现类注释信息
#tableComment("实体类")
@Setter
@Getter
public class $!{tableInfo.name} extends BaseObject implements Serializable {
    private static final long serialVersionUID = $!tool.serial();
#foreach($column in $tableInfo.fullColumn)
#if(${column.comment})
    /**
     * ${column.comment}
     */
    @ApiModelProperty(value="${column.comment}")
#end
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
}